{{outlet}}

<h2>Perfil del Examen</h2>
<br>
{{form-test test=model }}<br>
<button type="button" class="form-control btn btn-danger" {{action 'borrar' }} ><i class="fa fa-trash" aria-hidden="true"></i> Borrar</button>
    